@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <div class="media">
        <a class="pull-left" href="http://pivotal.io">
            <img class="" src="~/images/icon_pivotal_generic@2x.png" title="Dotnet" alt="Dotnet" height="70" width="70" />
        </a>
        <div class="media-body">
            <h1 class="media-heading">Pivotal Cloud Foundry</h1>
        </div>
    </div>
    <p class="lead">Cloud Ready to Cloud Native</p>
    <p class="lead">Whether you are supporting legacy applications or developing new microservices on .NET Framework or .NET Core, Pivotal Cloud Foundry can help you focus on your code and not the infrastructure.</p>
    <p><a href="http://apps.sys.islands.cloud" class="btn btn-primary btn-lg">Apps Manager &raquo;</a></p>
</div>
<div><h2>Overview</h2></div>
<div class="row">
    <div class="col-md-4">
        <h3>Pivotal Overview</h3>
        <p>
            Who is Pivotal and What do we do?
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Presentation &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Cloud Native Journey</h3>
        <p>
            Pivotal Cloud Foundry helps you in your journey with .NET applications from "Cloud-Ready" to "Cloud Native".
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Presentation &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Pivotal Cloud Foundry</h3>
        <p>
            Building applications on a secure, highly resilient, and scalable platform is a requirement for enterprise applications. See how Pivotal Cloud Foundry gets you out of the infrastructure and focused on your code.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Presentation &raquo;</a>
        </p>
    </div>
</div>
<div><h2>Platform</h2></div>
<div class="row">
    <div class="col-md-4">
        <h3>PCF Basics</h3>
        <p>
            Pivotal Cloud Foundry is easy to use. Deploying applications is as simple as a "cf push"
        </p>
        <p>
            <a class="btn btn-default" href="/PdfViewer/PdfViewerFeatures.aspx">Learn More &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Stemcells/Buildpacks</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Presentation &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Pushing an App</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Demo &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Scaling and Failover</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Apps Manager</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>

    </div>
    <div class="col-md-4">
        <h3>Logging and Metrics</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>
<div><h2>Cloud Patterns and Steeltoe</h2></div>
<div class="row">
    <div class="col-md-4">
        <h3>Config Server</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <div class="btn btn-default">
                @Html.ActionLink("Config Server", "Index", "ConfigServer")
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Service Discovery</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Circuit Breaker</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Security</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Database Access</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>CI/CD Pipelines</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Management</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Services</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Messaging</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>
<div><h2>Advanced Topics</h2></div>
<div class="row">
    <div class="col-md-4">
        <h3>App Replatforming</h3>
        <p>
            ASP.NET Web Forms lets you build dynamic websites using a familiar drag-and-drop, event-driven model.
            A design surface and hundreds of controls and components let you rapidly build sophisticated, powerful UI-driven sites with data access.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>App Modernization</h3>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Troubleshooting</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>
